@import '../style/global.scss';

.company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; // Ocupa 100% da largura
    min-height: 100vh;

    h1 {
        font-size: 2.5rem;
        color: var(--primary);
        margin-bottom: 20px;
    }

    .connect-button {
        margin-top: 20px;
    }

    .products-section {
        width: 100%;
        max-width: 800px;

        .add-product-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: bold;
            color: var(--white-fixed);
            background-color: var(--primary);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--caption);
            }
        }

        .products-list {
            margin-top: 20px;

            .product-item {
                background-size: cover;
                margin-bottom: 10px;
                padding: 20px;
                border-radius: 10px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                position: relative;
                background-color: var(--white-fixed);

                h3 {
                    font-size: 1.5rem;
                    color: var(--primary);
                }

                p {
                    margin-top: 1rem;
                    font-size: 1rem;
                    color: var(--text);
                }

                button {
                    margin-top: 10px;
                    padding: 8px 16px;
                    font-size: 1rem;
                    font-weight: bold;
                    color: var(--white-fixed);
                    background-color: var(--primary);
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--caption);
                    }
                }

                ul {
                    list-style-type: none;
                    padding: 0;
                    margin-top: 10px;

                    li {
                        font-size: 1rem;
                        color: var(--text-opaco);
                    }
                }
            }
        }
    }
    .token-card{
        width: 100%;
        max-width: 800px;
        margin-top: 20px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: var(--white-fixed);

        h2 {
            font-size: 1.5rem;
            color: var(--primary);
        }

    }
}