@import '../style/global.scss';

.register-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;

    h2 {
        font-size: 2rem;
        color: var(--primary);
        margin-bottom: 20px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .form-group {
            margin-bottom: 20px;

            label {
                display: block;
                font-size: 1rem;
                color: var(--text);
                margin-bottom: 8px;
            }

            input,
            select {
                width: 100%;
                padding: 10px;
                border: 1px solid var(--gray);
                border-radius: 5px;
                font-size: 1rem;
                color: var(--text);
                background-color: var(--white-fixed);
                box-sizing: border-box;
                transition: border-color 0.3s ease;

                &:focus {
                    border-color: var(--primary);
                    outline: none;
                }
            }

            select {
                height: 100px;
            }
        }

        .custom-component-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            input {
                flex: 1;
                padding: 10px;
                border: 1px solid var(--gray);
                border-radius: 5px;
                font-size: 1rem;
                margin-right: 10px;

                &:focus {
                    border-color: var(--primary);
                    outline: none;
                }
            }

            button {
                padding: 10px 20px;
                font-size: 1rem;
                font-weight: bold;
                color: var(--white-fixed);
                background-color: var(--primary);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: var(--primary);
                }
            }
        }

        .selected-components {
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
                color: var(--primary);
                margin-bottom: 10px;
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: 1rem;
                    color: var(--text-opaco);
                    background-color: rgba(255, 255, 255, 0.9);
                    margin-bottom: 5px;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                }
            }
        }

        .submit-button {
            padding: 10px 20px;
            font-size: 1rem;
            font-weight: bold;
            color: var(--white-fixed);
            background-color: var(--primary);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: var(--primary);
            }
        }
    }
}