@import '../style/global.scss';


.wallet{
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.register-product-container {
    margin: auto;
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--background);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px);
    }

    h2 {
        font-size: 2.5rem;
        color: var(--primary);
        margin-bottom: 30px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;

        .form-group {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;

            label {
                font-size: 1.1rem;
                color: var(--text-dark);
                margin-bottom: 8px;
            }

            input,
            select {
                width: 100%;
                padding: 12px;
                border: 1px solid var(--gray);
                border-radius: 5px;
                font-size: 1rem;
                color: var(--text);
                background-color: var(--white-fixed);
                box-sizing: border-box;
                transition: border-color 0.3s ease, box-shadow 0.3s ease;

                &:focus {
                    border-color: var(--primary);
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                    outline: none;
                }
            }

            select {
                height: auto;
                padding-right: 10px;
                /* Ajuste para garantir que todo o texto seja visível */
            }
        }

        .custom-component-container {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            input {
                flex: 1;
                padding: 12px;
                border: 1px solid var(--gray);
                border-radius: 5px;
                font-size: 1rem;
                margin-right: 10px;
                transition: border-color 0.3s ease, box-shadow 0.3s ease;

                &:focus {
                    border-color: var(--primary);
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
                    outline: none;
                }
            }

            button {
                padding: 12px 20px;
                font-size: 1rem;
                font-weight: bold;
                color: var(--white-fixed);
                background-color: var(--primary);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease;

                &:hover {
                    background-color: var(--caption);
                    transform: translateY(-3px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .selected-components {
            margin-bottom: 20px;

            h3 {
                font-size: 1.5rem;
                color: var(--primary);
                margin-bottom: 10px;
                text-align: center;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            ul {
                list-style-type: none;
                padding: 0;

                li {
                    font-size: 1rem;
                    color: var(--text-opaco);
                    background-color: rgba(255, 255, 255, 0.9);
                    margin-bottom: 5px;
                    padding: 10px;
                    border-radius: 5px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    transition: transform 0.3s ease, box-shadow 0.3s ease;

                    &:hover {
                        transform: translateY(-3px);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }

        .submit-button {
            padding: 12px 20px;
            font-size: 1rem;
            font-weight: bold;
            color: var(--white-fixed);
            background-color: var(--primary);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &:hover {
                background-color: var(--caption);
                transform: translateY(-3px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}