@import '../style/global.scss';

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--background);
    color: var(--text);
    position: relative;
    overflow: hidden;

    .content-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 60vh;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
            transform: scale(1.02);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
        }

        @include respond-to(small) {
            flex-direction: column;
            width: 90%;
        }

        .button-section{
            display: flex;
            align-items: center;
            flex-direction: column;

            &:hover {
                transform: translateY(-10px);
            }

            h1 {
                font-size: 2.5rem;
                color: var(--primary);
                margin-bottom: 2rem;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            p {
                margin-bottom: 1rem;
                font-size: 1rem;
                color: var(--text-opaco);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                font-size: 1rem;
                color: var(--white-fixed);
                background-color: var(--primary);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    background-color: var(--caption);
                    transform: translateY(-5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .text-section {
            flex: 1;
            z-index: 1;
            padding: 20px;
            text-align: center;

            h1 {
                font-size: 2.5rem;
                color: var(--primary);
                margin-bottom: 2rem;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            p {
                margin-bottom: 1rem;
                font-size: 1rem;
                color: var(--text-opaco);
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
            }

            button {
                margin-top: 20px;
                padding: 10px 20px;
                font-size: 1rem;
                color: var(--white-fixed);
                background-color: var(--primary);
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;

                &:hover {
                    background-color: var(--caption);
                    transform: translateY(-5px);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
                }
            }
        }

        .image-section {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .floating-image {
                width: 80%;
                animation: float 3s ease-in-out infinite;
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.05);
                }
            }

            .background-animation {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent);
                animation: pulse 4s infinite;
                border-radius: 10px;
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.7;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0.7;
    }
}