@import '../style/global.scss';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: var(--background);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form h1 {
    font-size: 2.5rem;
    color: var(--primary);
    margin-bottom: 20px;
}

.form h3 {
    font-size: 1.2rem;
    color: var(--primary);
    margin-bottom: 8px;
    align-self: flex-start;
}

.form input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid var(--primary);
    border-radius: 5px;
    font-size: 1rem;
    color: var(--text);
    background-color: var(--white-fixed);
}

.form input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}

.form label {
    font-size: 1rem;
    color: var(--text);
    margin-bottom: 20px;
    align-self: flex-start;
}

.form button {
    padding: 12px 20px;
    font-size: 1rem;
    color: var(--white-fixed);
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

.form button:hover {
    background-color: var(--primary);
}

.Toastify__toast-container {
    width: 400px;

    .Toastify__toast {
        font-size: 1rem;
        border-radius: 5px;
        padding: 16px;
    }

    .Toastify__toast--success {
        background-color: var(--success);
    }

    .Toastify__toast--error {
        background-color: var(--error);
    }
}